{% extends 'base.html' %}
{% block body %}
    <ul>
        <li>
            <a href="{{ MEDIA_URL }}sets/learn_test_set.txt">
                Conjunto de entrenamiento
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/target_set.txt">
                Conjunto de targets para el entrenamiento y prueba
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample1.txt">
                Muestra para el reconocimiento 1
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample2.txt">
                Muestra para el reconocimiento 2
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample3.txt">
                Muestra para el reconocimiento 3
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample4.txt">
                Muestra para el reconocimiento 4
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample5.txt">
                Muestra para el reconocimiento 5
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample6.txt">
                Muestra para el reconocimiento 6
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample7.txt">
                Muestra para el reconocimiento 7
            </a>
        </li>
        <li>
            <a href="{{ MEDIA_URL }}sets/sim_sample8.txt">
                Muestra para el reconocimiento 8
            </a>
        </li>
    </ul>
{% endblock %}
